/* WHO IS CHATTING */
.text_b88801 {
    font-size: 14px;
}

/* Chat header */
.visual-refresh .title_f75fb0 {
    background: var(--card-shading);
    /* border-radius: 10px; */
    border-bottom: 1px solid rgba(225, 240, 253, 0.123);
}

/* Chat panel */
.visual-refresh .page_c48ade {
    border-radius: 10px;
    border: 1px solid rgba(225, 240, 253, 0.123);
}

/* Link text */
/* .markup__75297 .anchor_edefb8 {
 color: black;
 }  */


/* SPOILER */
.spoilerContent__54ab5,
.spoilerMarkdownContent__54ab5,
.hidden__54ab5 {
    background: rgba(0, 0, 0, 1) !important;
    padding: 5px;
    border-radius: 10px;
}

/* Chat input */
.scrollableContainer__74017,
.themedBackground__74017 {
    background: var(--card-shading);
}

/* Mention */
.mentioned__5126c {
    --background-mentioned: rgba(255, 229, 84, 0.1);
    --background-mentioned-hover: rgba(255, 229, 84, 0.1);
}

/* Edit timestamp */
.messageContent_c19a55 .timestamp_c19a55 time:after {
    content: " (" attr(aria-label) ")";
    font-size: 0.625rem;
    font-weight: 400;
}

.messageContent_c19a55 .timestamp_c19a55 span {
    display: none;
}

/* Inline code `` `` */
.visual-refresh .markup__75297 code.inline {
    background: rgba(0, 0, 0, 1);
}

/* Username in chat */
.username_c19a55 {
    font-weight: 900;
}

/* Bold text weight max */
.markup__75297 strong {
    font-weight: 900;
}

/* Date Time divider in chat */
.content__908e2 {
    color: var(--main-color);
}

/* Divider for new chat */
.unreadPill__908e2 {
    background-color: var(--main-color);
}

.divider__908e2:has(.unreadPill__908e2) {
    --divider-color: var(--main-color);
}

/* Server Invite link display */
.guildInviteContainer__083ae {
    background: var(--card-shading);
}

.footerContent__083ae {
    background: none;
}

/* More visible Delete Message button */
.colorDanger_c1e9c4,
.colorDanger_c1e9c4 .label_c1e9c4 {
    color: rgb(255, 64, 64);
    font-weight: 600;
}