/* Role groups */
.membersGroup_c8ffbb {
    background: rgba(32, 181, 255, 0.025);
    color: var(--main-color);
    margin: auto;

    /* Set initial border color and width */
    border-bottom-width: 3px;
    border-style: solid;
    border-color: transparent;

    /* Gradient border */
    border-image: linear-gradient(to right, var(--main-color), var(--main-color));
    border-image-slice: 1;
}

/* Members list */
.visual-refresh .membersWrap_c8ffbb {
    background: rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(225, 240, 253, 0.123);
}

/* Usernames in servers */
.username__5d473 {
    font-size: 15px;
    font-weight: 600;
}

/* Selected user with role color */
.nameContainer__703b9[style^="color:"]:after {
    background: linear-gradient(to right, currentColor, transparent) !important;
}

/* Selected user with no role color */
.nameContainer__703b9:after {
    background: linear-gradient(to right, var(--hsl-main-color), transparent) !important;
}

/* Selected user with gradient color */
.nameContainer__703b9:has(.threeColorGradient_e5de78):after,
.nameContainer__703b9:has(.twoColorGradient_e5de78):after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent) !important;
}

/* Fix tag on username */
.username__703b9 {
    overflow: hidden;
}

/* For user with nameplate only */
/* .nameplated__91a9d .username__703b9[style^="color:"]::before,
.nameplated__91a9d .username__703b9[style^="color:"]::after {
    background: linear-gradient(to right, currentColor, transparent);
} */

/* Tag and Owner only on hover */
.memberInner__5d473 :not(.selected, :hover) :is(.clanTag__5d473, .ownerIcon__5d473) {
    display: none
}