/* --------------------------- GLOBAL --------------------------- */

/* Nameplate size */
.member__5d473 .container__4bbc6 {
    left: 7px;
    width: 97%;
}

/* Clearer nameplate (mostly for member list) */
.videoContainer__4bbc6 {
    mask-image: none !important;
}

/* USER PANEL */
.panels_c48ade:has(.activityPanel_c48ade) .container__4bbc6,
.panels_c48ade:has(.container_e131a9) .container__4bbc6 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.panels_c48ade .container__4bbc6 {
    border-radius: inherit;
    left: -4px;
    top: -2px;
    height: 103%;
    width: 104%;
}

/* --------------------------- SPECIFIC NAMEPLATE --------------------------- */

/* Twilight */
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="twilight/asset.webm"]) {
    background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
}

/* Cherry blossoms */
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="cherry_blossoms/asset.webm"]) {
    background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
}

/* Spririt of spring + Koi pond */
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="spirit_of_spring/asset.webm"]),
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="koi_pond/asset.webm"]) {
    background: linear-gradient(270deg, rgba(0, 128, 183, 0.1) 0%, rgba(0, 128, 183, 0.4) 100%) !important;
}

/* Cityscape + Cat beans + Vengeance */
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="cityscape/asset.webm"]),
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="cat_beans/asset.webm"]),
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="vengeance/asset.webm"]) {
    background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
}

/* Angels */
.container__4bbc6:has(.videoContainer__4bbc6 video[src$="angels/asset.webm"]) {
    background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
}