/* --------------------------- GLOBAL --------------------------- */

/* Nameplate size */
.member__5d473 .container__4bbc6 {
    left: 7px;
    width: 97%;
}

/* Clearer nameplate (mostly for member list) */
.videoContainer__4bbc6,
.img__4bbc6 {
    mask-image: none !important;
}

/* --------------------------- USER PANEL --------------------------- */
.panels_c48ade:has(.activityPanel_c48ade) .container__4bbc6,
.panels_c48ade:has(.container_e131a9) .container__4bbc6 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.panels_c48ade .container__4bbc6 {
    border-radius: inherit;
    left: -4px;
    height: 103%;
    width: 103%;
}

/* Remove border for VC panel and activity panel */
.visual-refresh .panels_c48ade:has(.container__4bbc6) .wrapper_e131a9,
.visual-refresh .panels_c48ade:has(.container__4bbc6) .panel__5dec7 {
    border-bottom: 0px solid rgba(225, 240, 253, 0.123);
}

/* Add border when VC panel and activity panel both appear */
.visual-refresh .panels_c48ade:has(.container_e131a9) .panel__5dec7 {
    border-bottom: 1px solid rgba(225, 240, 253, 0.123);
}

/* Clearer nameplate display globally */
.img__4bbc6,
/* on member list */
.img__4bbc6.hover__4bbc6,
.img__4bbc6.selected__4bbc6,
/* on store */
.img__4bbc6.preview__4bbc6,
/* on user panel */
.img__4bbc6.account__4bbc6,
.img__4bbc6.account__4bbc6.hover__4bbc6,
/* on dm */
.img__4bbc6.channel__4bbc6.selected__4bbc6,
.img__4bbc6.channel__4bbc6.hover__4bbc6 {
    opacity: 1;
}



/* --------------------------- SPECIFIC NAMEPLATE --------------------------- */
.theme-dark {

    /* ------- Twilight ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="twilight/asset.webm"]),
    .container__4bbc6:has(img[src$="twilight/static.png"]) {
        background: linear-gradient(270deg, rgba(1, 49, 194, 0.1) 0%, rgba(1, 49, 194, 0.4) 100%) !important;
    }

    /* Dim User Panel a bit (this nameplate a bit too bright) */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="twilight/asset.webm"]) .img__4bbc6.account__4bbc6 {
        opacity: 0.8;
    }

    /* ------- Cherry blossoms ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cherry_blossoms/asset.webm"]),
    .container__4bbc6:has(img[src$="cherry_blossoms/static.png"]) {
        background: linear-gradient(270deg, rgba(137, 58, 153, 0.1) 0%, rgba(137, 58, 153, 0.4) 100%) !important;
    }

    /* ------- Spririt of spring + Koi pond ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="spirit_of_spring/asset.webm"]),
    .container__4bbc6:has(img[src$="spirit_of_spring/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="koi_pond/asset.webm"]),
    .container__4bbc6:has(img[src$="koi_pond/static.png"]) {
        background: linear-gradient(270deg, rgba(0, 128, 183, 0.1) 0%, rgba(0, 128, 183, 0.4) 100%) !important;
    }

    /* ------- Cityscape + Cat beans + Vengeance ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cityscape/asset.webm"]),
    .container__4bbc6:has(img[src$="cityscape/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="cat_beans/asset.webm"]),
    .container__4bbc6:has(img[src$="cat_beans/static.png"]),

    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="vengeance/asset.webm"]),
    .container__4bbc6:has(img[src$="vengeance/static.png"]) {
        background: linear-gradient(270deg, rgba(115, 11, 200, 0.1) 0%, rgba(115, 11, 200, 0.4) 100%) !important;
    }

    /* ------- Angels ------- */
    .container__4bbc6:has(.videoContainer__4bbc6 video[src$="angels/asset.webm"]),
    .container__4bbc6:has(img[src$="angels/static.png"]) {
        background: linear-gradient(270deg, rgba(220, 62, 151, 0.1) 0%, rgba(220, 62, 151, 0.4) 100%) !important;
    }

}