/* Server role management */
/* .titleContainer_e29cd7,
.header_c6bf1b {
    background: none !important;
} */

/* Server setting when click on web invitation link */
.visual-refresh .editProfileContainer__42179 {
    background: var(--card-shading);
}

/* No separator in settings */
.visual-refresh .separator_b3f026 {
    display: none;
}