/* Remove Guild Tag Banner */
.banner__86ab2 {
    background: transparent !important;
}

/* .container__86ab2 {
    background: var(--background-shading);
} */

/* .outer_c0bea0.custom-user-profile-theme .inner_c0bea0 {
    
} */

/* User pop up remove banner for non-nitro users*/
/* :where(.banner__68edb:not([style*="background-image"])) {
    background: none !important;
} */

/* Gradient top banner for non-nitro only */
/* Need to keep banner on top for it to work.... */
.outer_c0bea0:not(.custom-user-profile-theme) .inner_c0bea0 .mask__68edb {
    mask: linear-gradient(black -5%, 0%, transparent);
}

/* Remove outer padding + remove custom nitro background for nitro user */
.outer_c0bea0.custom-user-profile-theme {
    padding: 0;
}

/* Shading user pop for non-nitro user */
/* .outer_c0bea0:not(.custom-user-profile-theme) {
    background: var(--card-shading);
}

.fullscreenOnMobile__49fc1 .outer_c0bea0:not(.custom-user-profile-theme) {
    background: var(--popout-shading);
} */

/* 
.animatorRight_faf9c0 .outer_c0bea0:not(.custom-user-profile-theme) {
    background: var(--popout-shading);
} */



/* This is something fun.....  */
/* .outer_c0bea0 .inner_c0bea0 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--background-image) no-repeat center center / cover !important;
    background-position: center calc(100% + 100px) !important;
} */

/* Transparent user pop */
.user-profile-popout:not(.custom-user-profile-theme)::before {
    background: transparent;
}