/**
 * @name ClearVision V7 for Vencord
 * @author ClearVision Team
 * @version 7.0.0 pre
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url('https://fonts.googleapis.com/css2?family=Consolas');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@540&display=swap');

/* @import url('https://raw.githubusercontent.com/DiscordStyles/HorizontalServerList/deploy/HorizontalServerList.theme.css');
 *
 * / ** SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #2780e6;
  --hover-color: #1e63b3;
  --success-color: #43b581;
  --danger-color: #982929;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* BACKGROUND IMAGES */
  --background-shading-percent: 100%;
  --background-image: url(https://i.imgur.com/zU7YY60.jpeg);
  --background-attachment: fixed;
  --user-popout-image: var(--background-image);
  --user-popout-attachment: var(--background-attachment);
  --user-modal-image: var(--background-image);
  --user-modal-attachment: var(--background-attachment);
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  /* FONTS */
  --main-font: "Quicksand", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
  /* BACKGROUND IMAGE FILTERS */
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  --user-popout-filter: var(--background-filter);
  --user-modal-filter: var(--background-filter);
  --columns: 2;
  --guildsize: 57;
  --aligndms: 0;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME / DARK THEME IN OLD UI */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME - NEW UI EXCLUSIVE */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.75);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME - NEW UI EXCLUSIVE */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.5);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ------------------------------ ADD ADDITIONAL CSS BELOW HERE ------------------------------ */

/* .container_c48ade {
 * --custom-chat-input-margin-bottom: 5px;
 } * */

/* WINDOWS TOP BAR */
.title_c38106 {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

/* VC Shiki Code */
.vc-shiki-container {
  background-color: rgba(0, 0, 0, 0) !important;
}