/* Role groups */
.membersGroup_c8ffbb {
    background: rgba(32, 181, 255, 0.025);
    color: var(--main-color);
    margin: auto;

    /* Set initial border color and width */
    border-bottom-width: 3px;
    border-style: solid;
    border-color: transparent;

    /* Gradient border */
    border-image: linear-gradient(to right, var(--main-color), var(--main-color));
    border-image-slice: 1;
}

/* Members list */
.visual-refresh .membersWrap_c8ffbb {
    background: rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(225, 240, 253, 0.123);
}

/* Usernames in servers */
.username__5d473 {
    font-weight: 600;
}

/* User activity color */
.subText__91a9d .overflow__82b15 strong {
    color: var(--main-color);
}

/* Selected user background */
.username__703b9:before {
    background: none;
}

.username__703b9:after {
    background: linear-gradient(to right, currentColor, transparent);
}

/* Fix tag on username */
.username__703b9 {
    overflow: hidden;
}

/* For user with nameplate only */
/* .nameplated__91a9d .username__703b9[style^="color:"]::before,
.nameplated__91a9d .username__703b9[style^="color:"]::after {
    background: linear-gradient(to right, currentColor, transparent);
} */