/* Server panel */
.visual-refresh .sidebarList_c48ade {
    border-radius: 10px;
    border: 1px solid rgba(225, 240, 253, 0.123);
}

/* Category background*/
.visual-refresh .mainContent__29444 {
    background: rgba(0, 0, 0, 0.1);
}

/* Category text */
.visual-refresh .name__29444 {
    text-shadow: #000000 0px 0px 5px;
    font-size: 15px;
}

/* Channel text */
.name__2ea32 {
    color: rgb(218, 218, 218);
    text-shadow: #000000 0px 0px 1px;
}

/* Server list */
.visual-refresh .guilds_c48ade {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(225, 240, 253, 0.123) !important;
}

/* Round servers icon */
.icon__6e9f8 {
    border-radius: 50%;
}

/* Server unread + hover */
/* .item__58105 {} */


/* Unread channel */
/* .visual-refresh .unread__2ea32 {} */

/* Channels list + Server name above it*/
.visual-refresh .container__2637a {
    background: rgba(0, 0, 0, 0.5);
}