/* Old User Panel for Dual Columns */
/* Position of User Panel base on UI density */
/* Compact */
.density-compact .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) + 27px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 - 27px) !important;
}

/* Default */
.density-default .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) + 10px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 - 10px) !important;
}

/* Spacious */
.density-cozy .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) - 5px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 + 5px) !important;
}