/* User pop up remove banner for non-nitro users*/
:where(.banner__68edb:not([style*="background-image"])) {
    background: none !important;
}

/* Remove outer padding + remove custom nitro background for nitro user */
.outer_c0bea0 .custom-user-profile-theme {
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 0;
}

.outer_c0bea0 .custom-user-profile-theme .inner_c0bea0 {
    background: rgba(0, 0, 0, 0.4) !important;
}

/* Added dark shading for non-nitro user */
.outer_c0bea0 {
    background: rgba(0, 0, 0, 0.4) !important;
}

.outer_c0bea0 .inner_c0bea0 {
    background: rgba(0, 0, 0, 0.4) !important;
}

/* Gradient top banner */
/* Might need to delete remove banner on top for it to work.... */
/* .mask__68edb {
    mask: linear-gradient(black, transparent);
} */