/* Old User Panel for Dual Columns */
/* Position of User Panel base on UI density */
/* Compact */
.density-compact .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) + 25px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 - 25px) !important;
}

/* Default */
.density-default .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) + 9px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 - 9px) !important;
}

/* Spacious */
.density-cozy .panels_c48ade {
    left: calc(2 * var(--custom-guild-list-width) - 7px) !important;
    width: calc(100% - var(--custom-guild-list-width)*2 + 7px) !important;
}